ion-card-subtitle { font-size: 18px;}
ion-card-title { font-weight:800; }
.bg-blue{
   color: #31708f;
   background-color: #d9edf7 !important;
   border-color: #bce8f1 !important;
}
.login-btn{
   margin-top: 20px;
}
.top-img{
   margin:0px auto 15px;
   display: block;
}
