ion-card-subtitle { font-size: 16px;}
ion-card-title { font-weight:800; }
.bg-blue{
   color: #31708f;
   background-color: #d9edf7 !important;
   border-color: #bce8f1 !important;
}
ion-card-title{
   margin-bottom: 10px;
}
ion-card-subtitle {
   display: flex;

   b{
      display: inline-block;
      width: 45%;
   }
}