.card-background-page {
   ion-card {
     position: relative;
     text-align: center;
   }

   ion-card img{
      box-shadow:inset 0 0 0 2000px rgba(255, 0, 150, 0.3);
   }
 
   .card-title {
     position: absolute;
     top: 36%;
     font-size: 1.7em;
     width: 100%;
     font-weight: bold;
     color: #fff;
   }
 
   .card-subtitle {
     font-size: 2.0em;
     font-weight: 800;
     position: absolute;
     top: 52%;
     width: 100%;
     color: #fff;
   } 
   padding: 40px;
 }

 img{
   width:100%;
   height:100%;
 }
 
 .myCard{
   position:relative; 
 }
 
 .myOverlay{
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 99;
   bottom: 0px;
   opacity: 0.6;
   background: #000;
   color: #fff; 
 }

ion-card { 
  display: block;
  height: 140px;
  margin-left: auto;
  margin-right: auto;}